@import "../base/variables";
@import "../base/mixins"; // Import mixins
@import "../base/typography";
@import "../base/fonts"; // Import fonts

.change-password-container {
  width: 400px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px;
  background-color: map-get($glass-colors, "light"); // Korrigierter Syntaxfehler
  border-radius: $radius-md;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
    color: $primary-color;
    font-family: $font-family-headline;
    margin-bottom: $spacing-md;
  }

  .form-group {
    margin-bottom: $spacing-sm;

    label {
      display: block;
      margin-bottom: 0; // Entfernt den Abstand zwischen Label und Input
      color: $dark-color;
      font-weight: $font-weight-medium;
    }

    .form-control {
      width: 100%;
      padding: $spacing-xs;
      border: 1px solid $neutral-gray;
      border-radius: $radius-sm;
      box-sizing: border-box;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 5px rgba($primary-color, 0.5);
      }
    }
  }

  .btn-password {
    background-color: $primary-color;
    color: $white-color;
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-md;
    border: none;
    border-radius: $radius-sm;
    cursor: pointer;
    transition:
      background-color $transition-fast,
      transform $transition-fast;

    &:hover {
      background-color: $primary-color-dark;
      transform: scale($hover-scale-small);
    }
  }
}
